<!DOCTYPE html>
<html>
  <head>
    <title>CalendarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="header-menus">
      <% if @current_user %>
        <li>
          <%= link_to("こんにちは,#{@current_user.name}さん", "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout", {method: :post}) %>
        </li>
      <% else %>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <li>
          <%= link_to("トップ画面", "/") %>
        </li>
      <% end  %>
    </ul>

    <%= yield %>
  </body>
</html>
